<body>
  <div #modalText class="modal fade" id="modalIdText" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Main Prime NG Splitter -->
          <p-splitter [style]="{ height: '100%', width: '100%' }" styleClass="mb-5">
            <!-- Left Panel of Prime NG Splitter -->
            <ng-template p-splitterPanel pTemplate="panel">
              <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
                <img src="https://dummyimage.com/600x400/000/fff" alt="Dummy Image" class="img-fluid"
                  style="position: relative; height: 100%; width: 100%;object-fit: cover;">
              </div>
            </ng-template>
            <!-- Right Panel of Prime NG Splitter -->
            <ng-template p-splitterPanel pTemplate="panel">
              <div #formDiv
                style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
                <!-- Stepper Container to Hide after given width -->
                <div #stepperContainer style="height: 100%; width: 100%">
                  <!-- Angular Material Stepper -->
                  <mat-stepper linear #stepper>
                    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        <mat-form-field appearance="fill">
                          <mat-label>Name</mat-label>
                          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                      <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <mat-form-field appearance="fill">
                          <mat-label>Address</mat-label>
                          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
                </div>
              </div>
            </ng-template>
          </p-splitter>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
