<body>
  <div #modalText class="modal fade" id="modalIdText" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Main Prime NG Splitter -->
          <p-splitter [style]="{ height: '100%', width: '100%' }" styleClass="mb-5">
            <!-- Left Panel of Prime NG Splitter -->
            <ng-template p-splitterPanel pTemplate="panel">
              <div style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
                <img src="https://dummyimage.com/600x400/000/fff" alt="Dummy Image" class="img-fluid"
                  style="position: relative; height: 100%;">
              </div>
            </ng-template>
            <!-- Right Panel of Prime NG Splitter -->
            <ng-template p-splitterPanel pTemplate="panel">
              <div #formDiv
                style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;">
                <div #stepperContainer style="height: 100%; width: 100%;">
                  <!-- Angular Table -->
                  <p-table [value]="products" [scrollable]="true" scrollDirection="horizontal" scrollHeight="100%"
                    [tableStyle]="{ 'border-collapse': 'collapse' }">
                    <ng-template pTemplate="body" let-product>
                      <!-- Angular Flex to Allow Responsiveness -->
                      <tr style="display: flex; flex-direction: row; flex-wrap: wrap;">
                        <td style="min-width: 200px;">
                          <span class="p-float-label">
                            <input pInputText id="username" />
                            <label htmlFor="username">Product Code</label>
                          </span>
                        </td>
                        <td style="min-width: 200px;">
                          <span class="p-float-label">
                            <input pInputText id="username" />
                            <label htmlFor="username">Product Name</label>
                          </span>
                        </td>
                        <td style="min-width: 200px;">
                          <span class="p-float-label">
                            <input pInputText id="username" />
                            <label htmlFor="username">Product Category</label>
                          </span>
                        </td>
                        <td style="min-width: 200px;">
                          <span class="p-float-label">
                            <input pInputText id="username" />
                            <label htmlFor="username">Product Quantity</label>
                          </span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </ng-template>
          </p-splitter>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
